.with-subtitle .doc>h1.page:first-child {
  margin-bottom: 0;
}

.doc h1.subtitle,
.doc h2.subtitle,
.doc h3.subtitle,
.doc h4.subtitle,
.doc h5.subtitle,
.doc h6.subtitle {
  margin-top: 0;
  color: #c1c1c1; /* var(--color-gray-10); */
}
